body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


body::before {
    content: "";
    display: block;
    position: fixed;
    width: 87%;
    height: 84%;
    background-image: url("../img/logoo.png");
    background-position: right bottom;
    background-color: white;
    opacity: 0.5;
    filter: blur(9px); 
    z-index: -1;
    background-repeat: no-repeat;
}
.container {

    position: relative;
    background-color: red;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 32px;
    max-width: 400px;
}



.inner-container {
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    position: relative;
}

label {
    position: absolute;
    left: 70px;
    color: rgb(114, 116, 117);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    font-weight: bold;
}

.circle {
    background-color: white;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    position: absolute;
    top: -20px;
    left: -22px;
    background-size: cover;
    background-position: center;
    background-image: url("../logoo.png");
}

.gray-box {
    background-color: #ccc;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 15px;
    max-width: 270px;
}

.list {
    list-style-type:none;
    padding: 0;
}

.list li {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    color: rgb(79, 81, 83);
    font-weight: bold;
}


.list img {
    height: 15px;
    margin-right: 10px; 
}


.row1 {
    display: flex; 
    align-items: flex-end; 
    margin-bottom: 10px;
    max-width: 900px;
    margin-top: -530px ;
    margin-left: 600px;
  }


  .row2 {
    display: flex; 
    align-items: flex-end; 
    margin-bottom: 10px;
    max-width: 900px;
    margin-top: 35px;
    margin-left: 600px;
  }
  
  
  .card {
    flex: 1;
    width: 300px; 
    max-height: 200px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px; 
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.7);
    margin-right: 40px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.card h2 {
    font-size: 17px;
    margin-bottom: 10px;
    color: rgb(79, 81, 83);
    text-decoration: underline;
}


.card img {
    max-width: 50%; 
    height: auto;
    margin-bottom: 10px;
}


.card button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 55px;
  }
  
  .menu-icon {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    cursor: pointer;
    font-size: 30px;
    padding: 8px;
    background-color: #5a5a5a;
    border-radius: 5px;
    color: #ffffff;

  }
  
  .menu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 8px;
    min-width: 150px;
    right: 20px;
    top: 20px;
  }
  
  .menu li {
    list-style: none;
  }
  
  .menu a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
  }
  
.menu-icon:hover + .menu,
.menu:hover {
  display: block;
}